@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.messageSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    gap: 30px;

    .topNav {
        width: 75%;
        height: 60px;
        background-color: #fff;
        border-bottom: 2px solid #e8e9e8;
        display: flex;
        align-items: center;
        padding: 0 30px;
        gap: 40px;
        margin: 0 auto;

        input {
            width: 18px;
            height: 18px;
        }

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 60px;

            ul {
                display: flex;
                list-style: none;
                gap: 40px;

                li {
                    font-size: 15px;
                    color: #8b959e;
                    cursor: pointer;
                }
            }
        }
    }

    .container {
        width: 75%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 30px;

        .usersColumn {
            width: 100%;

            background-color: #fff;
            border-right: 2px solid #e8e9e8;

            .usersList {
                padding: 15px;

                .userItem {
                    width: 100%;
                    height: 80px;
                    display: flex;
                    justify-content: space-between;
                    padding: 12px;
                    border-radius: 8px;
                    margin-bottom: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #f5f5f5;
                    }

                    .userInfo {
                        width: 60%;
                        display: flex;
                        align-items: center;
                        gap: 30px;
                        .userName {
                            width: 10vw;
                            font-size: 16px;
                            font-weight: 600;
                            color: #252525;
                            margin-bottom: 5px;
                        }

                        .userMessage {
                            font-size: 14px;
                            color: #8b959e;
                        }
                    }

                    .userMeta {
                        text-align: right;

                        .userTime {
                            font-size: 12px;
                            color: #8b959e;
                            margin-bottom: 5px;
                        }

                        .newBadge {
                            background-color: #009661;
                            color: #fff;
                            font-size: 11px;
                            padding: 2px 8px;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }

    .delete {
        width: 75vw;
        height: 60px;
        margin: 0 auto;
        button {
            cursor: pointer;
            width: 10%;
            height: 40px;
            border-radius: 4px;
            border: none;
            background-color: rgba($color: #eb5757, $alpha: 0.1);
            color: #eb5757;
        }
    }
}
